{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
<br>

<div class="row">
	<div class="col-md-5">
		<h5 style="text-align:center">CLIENTS:</h5>
		<hr>
		<div class="card card-body">
<!--			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_client' %}">Create client</a>-->
			<table class="table table-sm">
				<tr>
					<th>Link</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Phone</th>
				</tr>

				{% for client in clients %}
					<tr>
						<td><a class ="btn btn-sm btn-info" href="{% url 'client' client.id %}">View</a></td>
						<td>{{client.name}}</td>
						<td>{{client.surname}}</td>
						<td>{{client.phone}}</td>
					</tr>
				{% endfor %}


			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5 style="text-align:center">LAST ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Brand</th>
					<th>Model</th>
					<th>Date Order</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}
					<tr>
						<td>{{order.product.name}}</td>
						<td>{{order.product.name_model}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a class ="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a class ="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}


